//- menu
div.nav-header__block
	div(class=`${class_name}__container`)
		div(class='burger' data-burger='nav-header')
			span
		nav.nav-header
			ul
				li
					a(href='/index.html') О компании
				li
					a(href='/map-object.html') Карта
				li
					a(href='') Портфолио
				li
					a(href='/objects.html') Объекты
				li
					a(href='/info.html') Инфо
